body{background:black;}

p{color:#03C4AA;
font-family: "Lucida Console", "Courier New", monospace;}
h1{color:#03C4AA;
font-family: "Lucida Console", "Courier New", monospace;}

.x1{
text-align:center;
margin:50px;

font-size:39px;}

.x2{
text-align:center;
margin:50px;}
	
.x3{
text-align:center;
margin:50px;}
	
.img2{
width:720px;
height:360px;
position:relative;
left:310px;}
	
.x4{
textalign:center;
margin:50px;}

.x5{
text-align:center;
margin:50px;}